body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

canvas {
    border: 2px solid #333;
    margin-bottom: 20px;
}

input[type="text"], input[type="color"], button {
    margin: 5px;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.download-btn {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
.clear-btn{
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;  
}
.clear-btn:hover{
    background-color: #dc3232; 
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.download-btn:hover {
    background-color: #0056b3;
}

/* Media queries for mobile devices */
